*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  user-select: none;
}


/* header */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  /* margin:  0 auto; */
}

/* nav */
header nav {
  display: flex;
  width: 1200px;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #197686;
  background: #05252c66;
  backdrop-filter: blur(2px);
}


/* first image which is the logo */
header nav>div>img{
  width: 24px;
height: 24px;
aspect-ratio: 1/1;
margin-right: .5rem;
cursor: pointer;

}

/* second image which is logo text */
header .logotext{
  width: 43.793px;
height: 22.624px;
fill: #0E464F;
stroke-width: 1px;
stroke: #fff;
cursor: pointer;

}

/* nav liist */
.list ul{
  display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
list-style: none;
}

/* each list */
.list ul li{
  color: #B3B3B3;
font-family: JejuMyeongjo;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: .3rem;
cursor: pointer;
}

.navButton{
  display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
border: 1px solid rgba(213, 234, 0, 0.10);
background: #FFF;
}

/*  */
main{
  /* display: flex; */
width: 700px;
padding: 15px 40px;
margin: 0 50rem;
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
/* gap: 32px; */
border-radius: 40px;
border: 1px solid #0E464F;
background: #041E23;
}

.ticketTitle{
  display:  flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
  /* height: 40px; */
  /* background-color: red; */
  text-align: center;
}

.ticketTitle h3{
  color: #FFF;
/* font-family: JejuMyeongjo; */
font-size: 32px;
font-style: normal;
font-weight: 400;
/* line-height: normal; */
}

.ticketTitle p{
  text-align: center;
  color:  #FAFAFA;

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
/* line-height: 150%;  */
}

.uploadHolder{
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 24px 24px 48px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border-radius: 24px;
border: 1px solid #07373F;
background: #052228;
}

.innerboxholder{
  display: flex;
  justify-content: center;
  /* background-color: red; */
  width: 30rem;
  margin: 0 4rem;
}

.upload{
  color: var(--color-grey-98, #FAFAFA);
margin-bottom: 1rem;
/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.innerbox{
 margin: 0 auto;
height: 200px;
width: 100%;

gap: 10px;
align-self: stretch;
background: rgba(0, 0, 0, 0.20);
position: relative;
}

.lightbox{
  display: flex;
width: 200px;
height: 160px;
padding: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
border-radius: 32px;
border: 4px solid rgba(36, 160, 181, 0.50);
background: #0E464F;
position: absolute;
opacity: 0.5;
}

.lightbox>p{
  color: var(--color-grey-98, #FAFAFA);
text-align: center;

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
align-self: stretch;
}

.bar{
  margin: 2rem 0;
}

.progressBar{

  margin-bottom: 2rem;
}

.bar>div,  .progressBar>div{
  height: 4px;
align-self: stretch;
background: #07373F;
}


.buttonHolder{
  display: flex;
height: 48px;
justify-content: center;
align-items: flex-end;
gap: 24px;
align-self: stretch;
margin: 1.5rem 0;
}

.buttonHolder button{
  display: flex;
padding: var(--Radius-reg-2, 12px) var(--Radius-semi, 24px);
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: var(--Radius-reg, 8px);
background: #07373F;
color: #24A0B5;

}


.buttonHolder button:hover{
  background-color: #24A0B5;
  color: #fff;
}

/*  */

.nameLabel, .emailLabel, .textLabel{
  color: var(--color-grey-98, #FAFAFA);
 margin-top: 1rem;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
align-self: stretch;
}

.inputHolder{
  display: flex;
height: 48px;
padding: var(--Radius-reg-2, 12px);
align-items: center;
gap: var(--Radius-reg, 8px);
align-self: stretch;
/* background-color: red; */
}

.inputHolder input{
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #0E464F;
  background-color: #07373F;
  color: #fff;
  font-size: 16px;
}

.inputHolder input:focus{
  border: 1px solid #0E464F;
 
}


.textHolder{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
height: 10rem;
margin-top: .8rem;

}

textarea{
  width: 100%;
  height: 100%;
  background-color: #07373F;
  border: 1px solid #0E464F;
  color: #fff;
  font-size: 16px;
}

