*{
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  user-select: none;
}


/* header */
header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  /* margin:  0 auto; */
}

/* nav */
header nav {
  display: flex;
  width: 1200px;
  padding: 10px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #197686;
  background: #05252c66;
  backdrop-filter: blur(2px);
}


/* first image which is the logo */
header nav>div>img{
  width: 24px;
height: 24px;
aspect-ratio: 1/1;
margin-right: .5rem;
cursor: pointer;

}

/* second image which is logo text */
header .logotext{
  width: 43.793px;
height: 22.624px;
fill: #0E464F;
stroke-width: 1px;
stroke: #fff;
cursor: pointer;

}

/* nav liist */
.list ul{
  display: flex;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
list-style: none;
}

/* each list */
.list ul li{
  color: #B3B3B3;
font-family: JejuMyeongjo;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: .3rem;
cursor: pointer;
background-color: red;
}

.navButton{
  display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
border: 1px solid rgba(213, 234, 0, 0.10);
background: #FFF;
}

main{
  /* display: flex; */
width: 700px;
padding: 15px 40px;
margin: 0 50rem;
/* flex-direction: column; */
/* justify-content: center; */
/* align-items: center; */
/* gap: 32px; */
border-radius: 40px;
border: 1px solid #0E464F;
background: #041E23;
}

.ticketTitle{
  display:  flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .8rem;
  /* height: 40px; */
  /* background-color: red; */
  text-align: center;
}

.ticketTitle h3{
  color: #FFF;
/* font-family: JejuMyeongjo; */
font-size: 32px;
font-style: normal;
font-weight: 400;
/* line-height: normal; */
}

.ticketTitle p{
  text-align: center;
  color:  #FAFAFA;

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
/* line-height: 150%;  */
}

.eventDeetHolder{
  display: flex;
padding: 5px 10px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
border-radius: 32px;
border: 1px solid #0E464F;
background: #08252B;
width: 100%;
margin-bottom: 1rem;
}

.eventDeetHolder>div{
  padding-bottom: 1rem;
  width: 100%;
  margin: 0 auto;
}

.techember{
  display: flex;
  justify-content: center;
  align-items: center
  
}

.techember p{
  /* background-color: red; */
 /* margin-right: 4rem; */
  /* align-self: stretch; */
  color:  #fafafa;
font-family: "Road Rage";
font-size: 60px;
font-weight: 300;
}

.secureSpot{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 340px;
  color: var(--color-grey-98, #FAFAFA);
text-align: center;

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
margin-bottom: .5rem;
font-weight: 400;
line-height: 150%; /* 24px */}

.timeDetails{
  color: var(--color-grey-98, #FAFAFA);
  display: flex;
  justify-content: center;
  margin: 0 auto;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */

}

.bar{
  margin: 2rem 0;
}

.progressBar{
margin-bottom: .5rem;
}

.bar>div,  .progressBar>div{
  height: 4px;
align-self: stretch;
background: #07373F;
}

.ticketType>div>p{
  align-self: stretch;
  color: var(--color-grey-98, #FAFAFA);

/* Text/Regular/Normal */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}

.eachTicket{
  display: flex;
padding: 16px;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
border-radius: 24px;
border: 1px solid #07373F;
background: #052228;
margin-top: 1rem;
}

.box {
  display: flex;
width: 158px;
height: 110px;
padding: 12px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
border-radius: var(--Radius-reg-2, 12px);
border: 1px solid #197686;
background: #12464E;
}

.free h4, .vip h4, .vvip h4{
  color: #FFF;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 26.4px */
margin: .5rem;
}

.type{
  color: #FAFAFA;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
text-transform: uppercase;
}

.numberz{
  color: #D9D9D9;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

.selectHolder{
  display: flex;
  justify-content: center;
  width: 100%
}

.labelHolder{
  color: var(--color-grey-98, #FAFAFA);
  margin: 1rem 0;
  /* Text/Regular/Normal */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */}

select{
  display: flex;
  justify-content: center;
padding: var(--Radius-reg-2, 12px);
border-top: 2rem;
align-items: center;
gap: var(--Radius-reg, 8px);
align-self: stretch;
border-radius: var(--Radius-reg-2, 12px);
border: 1px solid #07373F;
width: 100%;
background-color: #07373f;
color: #fff;
margin-bottom: .7rem;
}

.buttonHolder{
  display: flex;
height: 48px;
justify-content: center;
align-items: flex-end;
gap: 24px;
align-self: stretch;
margin: 1.5rem 0;
}

.buttonHolder button{
  display: flex;
padding: var(--Radius-reg-2, 12px) var(--Radius-semi, 24px);
justify-content: center;
align-items: center;
gap: 8px;
flex: 1 0 0;
border-radius: var(--Radius-reg, 8px);
background: #07373F;
color: #24A0B5;

}


.buttonHolder button:hover{
  background-color: #24A0B5;
  color: #fff;
}


/* media query */
/* body{
  @media(max-width: 767px) {
    display: flex;
    width: 375px;
    padding-top: 32px;
    flex-direction: column;
    align-items: center;
    background: #02191D;
   };
   @media (max-width: 400px) {
     display: flex;
    width: 375px;
    padding-top: 32px;
    flex-direction: column;
    align-items: center;
    background: #02191D;
    position: relative;
   }
} */

/* header */
/* header{
  @media(max-width: 767px) {
    display: flex;
width: 320px;
padding: 12px 16px;
justify-content: space-between;
align-items: center;
border-radius: 12px;
border: 1px solid #197686;
background: rgba(5, 37, 44, 0.40);
backdrop-filter: blur(2px);
position: absolute;
left: 27.5px;
top: 10px;
   };
   @media (max-width: 400px) {
    display: flex;
width: 320px;
padding: 12px 16px;
justify-content: space-between;
align-items: center;
border-radius: 12px;
border: 1px solid #197686;
background: rgba(5, 37, 44, 0.40);
backdrop-filter: blur(2px);
position: absolute;
left: 27.5px;
top: 10px;
   }
} */